@CHARSET "UTF-8";

body {
	font: 12px/180% Arial, Lucida, Verdana, "宋体", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border:0;
	text-align: left;
	color: black;
	list-style-type:none;
	background:#E3D79B;
}
br{
	clear:both;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
dl{
	margin: 0;
	padding: 0;
}
dt{
	margin: 0;
	padding: 0;
}
dd{
	margin: 0;
	padding: 0;
}
ol{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
form{
	margin: 0;
}
a{
	cursor:pointer;
	cursor:hand;
	color:black;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
/*上部样式*/
.topClass{
	font-size:16px;
	color: black;
	background-color: #E8DDCB;
}
/*左侧样式*/
.lefClass{
	background-color: #EEEEEE;
}
/*底部样式*/
.below{
	font-family:"粗体";
	font-size:16px;
	color:white;
	background-image:url("img/menuImg/title.gif");
}
/*日期按钮样式*/
.dtstyle{
	width: 35px;
	height: 40px;
	background-image: url("img/headerbg.png");
}
/*表单样式*/
.btn{
	width: 83px;
	height: 28px;
}